@use '../../../variaveis';

button{
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 100px;
}

.botao-primary{
  background: variaveis.$primaria;
  color: variaveis.$superficie-1;
  border: variaveis.$cinza solid;
}

.botao-primary:active{
  background: transparent;
  color: variaveis.$primaria;
  border: variaveis.$cinza solid;
}

.botao-secondary{
  background: transparent;
  color: variaveis.$primaria;
  border: variaveis.$cinza solid;
}

.botao-secondary:active{
  background: variaveis.$primaria;
  color: variaveis.$superficie-1;
  border: none;
}
