button{
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 100px;
}

.botao-primary{
  background: var(--primaria);
  color: var(--superficie-1);
}

.botao-primary:active{
  background: transparent;
  color: var(--primaria);
  border: var(--cinza) solid;
}

.botao-secondary{
  background: transparent;
  color: var(--primaria);
  border: var(--cinza) solid;
}

.botao-secondary:active{
  background: var(--primaria);
  color: var(--superficie-1);
  border: none;
}
