@use '../../../variaveis';


.banner{
  background: url("../../../assets/banner-homepage.png") no-repeat;
  height: 50vh;
  display: flex;
}

.banner-texto{
  margin: 10%;
  align-items: center;
  text-align: start;
  color: variaveis.$superficie-1;
  font-size: 2.5em;
  width: 488px;
  font-weight: 400;

  strong{
    font-weight: 700;
  }
}
